<link rel="import" href="../bower_components/polymer/polymer.html">
  
<link rel="import" href="../components/content-card.html">
<link rel="import" href="../components/card-service.html">
<link rel="import" href="../components/post-service.html">
  
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">

<dom-module id="card-layout">
<template>
  
	<style>
		:host {
			display: block;
		}
		.content {
			width: 100%;
		}
		.column {
			padding: 30px; 
			max-width: 450px;
		}
		content-card {
			margin-bottom: 20px;
			width: 100%;
		}
		paper-fab {
			position: fixed;
			bottom: 32px;
			right: 	32px;
			--paper-fab-background: #448AFF;
			--paper-fab-keyboard-focus-background: #2979FF;
		}
		#editdialog {
			max-width: 600px;
			width: calc(100% - 60px);	
			overflow-y: scroll;
		}
		.buttons {
			padding-top: 24px;
		}
		#deletedialog {
			max-width: 280px;
		}
		#nothinghere {
			color: #9E9E9E;
			position: fixed;
			top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
			text-align: center;
		}
	</style>

		
	<card-service id="service" type="{{type}}" cols="{{cols}}" col-num="{{columns}}" not-null="{{hasposts}}"></card-service>
	<post-service id="poster" type="{{type}}" mode="{{posterMode}}" post-id="{{posterId}}" title="{{posterTitle}}" img="{{posterImg}}" text="{{posterText}}"></post-service>	
	
	<div id="allcards" class="content layout start around-justified horizontal"> 
		<template is="dom-repeat" items="{{cols}}" as="col">
			<div class="layout vertical flex column">
			<template is="dom-repeat" items="{{col}}" as="card">
				<content-card type="{{type}}" img="{{card.img}}" post-id="{{card.id}}" id="card{{card.id}}" card="{{card}}" disable-edit="{{disableEdit}}">
					<h2>{{card.title}}</h2>
					<p>{{card.text}}</p>
				</content-card>
			</template>
			</div>
		</template>
	</div>

	<paper-fab on-tap="fab" icon="add" title="add" hidden="{{disableAdd}}"></paper-fab>
	<paper-dialog id="editdialog">
		<h2>{{editorTitle}}</h2>
		<paper-input value="{{editTitleValue::input}}" maxlength="30" error-message="Required" id="postTitle" on-keyup="checkTitleValid" label="Title"></paper-input>
		<paper-input value="{{editSrcValue::input}}" maxlength="2048" id="imageSrc" label="Image URL"></paper-input>
		<paper-textarea value="{{editContentValue::input}}" maxlength="1000" charCounter error-message="Required" id="postBody" on-keyup="checkPostValid" label="Content"></paper-textarea>
		<div class="buttons">
			<paper-button dialog-dismiss>Cancel</paper-button>
			<paper-button on-tap="editAccept">Accept</paper-button>
		</div>
	</paper-dialog>
	<paper-dialog id="deletedialog" modal>
		<h2>Delete this post?</h2>
		<div class="buttons">
			<paper-button dialog-dismiss>Cancel</paper-button>
			<paper-button on-tap="deleteAccept">Delete</paper-button>
		</div>
	</paper-dialog>
	<div id="nothinghere" hidden="{{hasposts}}">
	<iron-icon icon="warning"></iron-icon></br>
		<p>There's nothing here!</p>
	</div>

</template>
  <script>
    Polymer({
      is: 'card-layout',
      properties: {
        columnPadding: {
          type: Number,
          value: 30
        },
        columnWidth: {
          type: Number,
          value: 450
        },
		maxColumns: {
			type: Number,
			value: 3,
			notify: true
		},
		columns: {
			type: Number,
			value: 1
		},
		cols: {
          type: Array,
          value: function () {
            return [];
          }
        },
        type: {
          type: String,
          value: 'projects',
          notify: true
        },
		editorTitle: {
          type: String,
          value: 'Create new Project',
          notify: true
        },
		editTitleValue: {
          type: String,
          value: '',
          notify: true
        },
		editSrcValue: {
          type: String,
          value: '',
          notify: true
        },
		editContentValue: {
          type: String,
          value: '',
          notify: true
        },
		posterTitle: {
          type: String,
          value: '',
          notify: true
        },
		posterImg: {
          type: String,
          value: '',
          notify: true
        },
		posterText: {
          type: String,
          value: '',
          notify: true
        },
		posterMode: {
          type: String,
          value: 'new',
          notify: true
        },
		posterId: {
          type: Number,
          value: 0,
          notify: true
        },
		disableEdit: {
			type: Boolean,
			value: false,
			notify: true
		},
		disableAdd: {
			type: Boolean,
			value: false,
			notify: true
		}
      },
      attached: function () { // DO NOT TOUCH
		layout = this;
		
			console.log(layout.hasposts);
		window.setInterval(function (){
			layout.$.service.update();
		}, 5000);
        this.columns = Math.min(layout.maxColumns, Math.max(1, Math.floor(layout.clientWidth / (layout.columnWidth + 2 * layout.columnPadding))));
		Polymer.dom(this).setAttribute('unresolved', '');
        window.addEventListener('resize', function () {
          layout.columns = Math.min(layout.maxColumns, Math.max(1, Math.floor(layout.clientWidth / (layout.columnWidth + 2 * layout.columnPadding))));
		});
		this.$.editdialog.addEventListener('iron-overlay-closed', function () {
		  layout.clearEdit();
		});
		this.querySelector('#allcards').addEventListener('modify', function(e) {
			mode = e.detail.mode
			id = e.detail.id
			layout.posterId = id
			
			if (mode == 'edit') {
				layout.posterMode = 'edit'
				post = this.querySelector('#card'+(id))
				layout.editorTitle = "Edit Post";
				layout.editTitleValue = post.card.title;
				layout.editSrcValue = post.card.img;
				layout.editContentValue = post.card.text;
				layout.$.editdialog.open();
			} else if (mode == 'del') {
				layout.posterMode = 'del'
				layout.$.deletedialog.open();
			}
		});
      },
	  fab: function () {
		this.editorTitle = "Create New Post";
		this.$.editdialog.open();
		this.posterMode = "new";
	  },
	  checkTitleValid: function () {this.$.postTitle.invalid = (this.editTitleValue == "");},
	  checkPostValid: function () {this.$.postBody.invalid = (this.editContentValue == "");},
	  editAccept: function () {
		this.posterTitle = this.editTitleValue;
		this.posterImg = this.editSrcValue;
		this.posterText = this.editContentValue;
		
		this.checkTitleValid();
		this.checkPostValid();
		if (!this.$.postTitle.invalid && !this.$.postBody.invalid) {
			console.log(this.editTitleValue);
			this.$.editdialog.close();
			this.$.poster.post();
			this.$.service.update();
		}
	  },
	  deleteAccept: function () {
		this.$.deletedialog.close();
		this.$.poster.post();
		this.$.service.update();
	  },
	  clearEdit: function () { // Call this when dialog is canceled
		this.$.postTitle.invalid = false;
		this.$.postBody.invalid = false;
		this.editTitleValue = "";
		this.editSrcValue = "";
		this.editContentValue = "";
	  }
    });
  </script>
</dom-module>
