<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>

<dom-module id="card-service">
<template>
	<style>
		:host {
			display: none;
		}
	</style>
  
	<iron-ajax id="ajax" auto 
		url="{{_computeUrl(type)}}" 
		on-response="cardsLoaded" 
		handle-as="json">
	</iron-ajax>
</template>
<script>
    Polymer({
      is: 'card-service',
      properties: {
        cards: {
          type: Array,
          value: function () {
            return [];
          }
        },
        colNum: {
          type: Number,
          value: 1,
          notify: true,
          observer: 'colNumChanged'
        },
        cols: {
          type: Array,
          value: function () {
            return [];
          },
          notify: true
        },
        type: {
          type: String,
          value: 'projects',
          notify: true
        }
      },
      ready: function () {
        this.calculateColumns();
      },
      colNumChanged: function () {
        //Recalculate columns on change
        this.calculateColumns();
      },
      cardsLoaded: function () {
        this.cards = this.$.ajax.lastResponse.slice(0);
        this.calculateColumns();
      },
      calculateColumns: function () {
		cols = [];
        for (var i = 0; i < this.colNum; i++) {
          cols.push([]);
        }
        for (var i = 0; i < this.cards.length; i++) {
          cols[i % this.colNum].push(this.cards[i]);
        }
        this.cols = cols;
      },
      _computeUrl: function (type) {
        return './php/getData.php?type=' + type;
      }
    });
</script>
</dom-module>
