<link rel="import"
  href="../bower_components/polymer/polymer.html">
<link rel="import"
  href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import"
  href="../bower_components/core-icons/image-icons.html">
<link rel="import"
  href="../bower_components/paper-icon-button/paper-icon-button.html">

<polymer-element name="content-card" attributes="img postId">
	<template>
		<style>
			:host {
				display: block;
				position: relative;
				background-color: #FAFAFA;
				padding: 0px;
				corner-radius: 2px;
				width:100%;
				margin:0;
			}
			
			polyfill-next-selector { content: 'content-card h2'; }
			::content h2 {
				margin:0;
				padding: 24px 16px 16px 16px;
				font-size: 24px;
				font-weight: normal;
			}
		
			.media {
				position: relative;
				width: 100%;
				padding-bottom: 56.25%; //Maintain 16:9 aspect ratio;
				background-size: cover;
			}
			
			polyfill-next-selector { content: 'content-card p'; }
			::content p {
				margin:0;
				padding: 16px;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.8;
			}
			
			.actions {
				padding: 8px;
			}
			
		</style>
		<core-media-query query="max-width: 640px" queryMatches="{{phoneScreen}}"></core-media-query>
		<paper-shadow z="1" id="card-shadow">
			<div class="card-content" vertical layout start-justified>
				<content select="h2"></content>
				<div class='media' hidden?="{{img == ''}}" 
					style="background-image:url({{img}})">
				</div>
				<content select="p"></content>
				<div class="actions" layout horizontal end-justified>
					<paper-icon-button icon="image:edit"></paper-icon-button>
				</div>
			</div>
		</paper-shadow>
	</template>
	<script>
		Polymer({
			postId: 0,
			img: ""
		});
	</script>
  
</polymer-element>