<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
  
  <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="sidebar-content">
  <style>
    /* TODO(polyup): For speed, consider reworking these styles with .classes
                     and #ids rather than [attributes].
    */
    [layout] {
      @apply(--layout);
    }
    [layout][horizontal] {
      @apply(--layout-horizontal);
    }
    [layout][center] {
      @apply(--layout-center);
    }
  </style>
  <style>
			:host {
				background: #FAFAFA;
				padding: 0;
				margin: 0;
			}
			core-header-panel {
				height: 100%;
				overflow: auto;
				-webkit-overflow-scrolling: touch; 
			}
			core-toolbar {
				background: #FF9800;
				color: white;
			}
			paper-item {
				padding: 0;
			}
			a {
				text-decoration: none;
				color: black;
				padding: 0;
			}
			.core-selected div{
				color: #448AFF;
			}
		</style>
  <template>
		<paper-header-panel>
			<paper-toolbar>
				<div>Navigation</div>
			</paper-toolbar>
			<paper-menu selected="{{pageId}}">
				<template is="dom-repeat" items="{{pages}}" as="page">
					<a href$="{{page.url}}">
						<paper-item noink="">
							<div layout="" horizontal="" center="">{{page.title}}</div>
						</paper-item>
					</a>
					
				</template>
			</paper-menu>
		</paper-header-panel>
	</template>
  <script>
    Polymer({
      is: 'sidebar-content',
      properties: {
        pageId: {
          type: String,
          value: '0',
          notify: true
        },
        pages: {
          type: Array,
          value: function () {
            return [
              {
                title: 'Home',
                url: '/'
              },
              {
                title: 'Projects',
                url: 'projects'
              },
              {
                title: 'Blog',
                url: 'blog'
              }
            ];
          }
        }
      }
    });
  </script>
</dom-module>
