<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="sidebar-content">
<template>	
	<style>
		:host {
			background: #FAFAFA;
			padding: 0;
			margin: 0;
		}
		paper-header-panel {
			height: 100%;
			overflow: auto;
			-webkit-overflow-scrolling: touch; 
		}
		paper-toolbar {
			background: #FF9800;
			color: white;
		}
		a {
			text-decoration: none;
			color: black;
			padding: 0;
		}
		#git {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		iron-icon {
			margin-right: 5px;
		}
		.iron-selected div{
			color: #448AFF;
		}
	</style>

	<paper-header-panel>
		<paper-toolbar>
			<div>Navigation</div>
		</paper-toolbar>
		<paper-menu selected$="{{pageId}}">
			<template is="dom-repeat" items="{{pages}}" as="page">
				<a href$="{{page.url}}">
					<paper-item role="menuitem">
						<div calss="layout horizontal center">{{page.title}}</div>
					</paper-item>
				</a>
			</template>
			
		</paper-menu>
		<paper-menu id="git">
			<a target="_blank" href="https://github.com/legomaniack/programming_club">
			<paper-item role="menuitem">
				<iron-icon src="github.png"></iron-icon> View on GitHub
			</paper-item></a>
		</paper-menu>
		
	</paper-header-panel>

</template>
<script>
	Polymer({
			is: 'sidebar-content',
			properties: {
			pageId: {
				type: String,
				value: '0',
				reflectToAttribute: true,
				notify: true
		},
		ready: function () {
			console.log("DIE");
			console.log(pageId);
		},
		pages: {
			type: Array,
			value: function () {
			return [
					{
						title: 'Home',
						url: '/'
					},
					{
						title: 'Projects',
						url: '/projects'
					},
					{
						title: 'Blog',
						url: '/blog'
					}
			];}
		}
	  }
	});
</script>
</dom-module>
