<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/google-signin/google-signin.html">
  
<link rel="import" href="../components/sidebar-content.html">

<dom-module id="website-layout">

<template>

	<style>
		:host{
			height: 100%;
			margin: 0;
			font-family: 'Roboto', sans-serif;
		}
		paper-header-panel {
			height: 100%;
			background: {{color}};
			overflow: auto;
			-webkit-overflow-scrolling: touch; 
		}
		paper-toolbar {
		  background: #FF9800;
		  color: white;
		}
		.content {
			width: 100%;
		}
	</style>

	<paper-drawer-panel force-narrow>
		<sidebar-content drawer page-id$="{{pageId}}"></sidebar-content>
		<paper-header-panel main>
			<paper-toolbar>
				<paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
				<span class="flex">{{pageTitle}}</span>
			</paper-toolbar>
			<div class="content">
				<content></content>
			</div>
		</paper-header-panel>
	</paper-drawer-panel>
</template>
<script>
	Polymer({
	  is: 'website-layout',
	  properties: {
		color: {
		  type: String,
		  value: '#EEEEEE',
		  notify: true
		},
		pageId: {
		  type: Number,
		  value: 0,
		  notify: true
		},
		pageTitle: {
		  type: String,
		  value: 'Home',
		  notify: true
		}
	  }
	});
	function signinCallback(authResult) {
	  if (authResult['status']['signed_in']) {
		// Update the app to reflect a signed in user
		// Hide the sign-in button now that the user is authorized, for example:
		Polymer.dom(document.getElementById('signinButton')).setAttribute('style', 'display: none');
	  } else {
		// Update the app to reflect a signed out user
		// Possible error values:
		//   "user_signed_out" - User is signed-out
		//   "access_denied" - User denied access to your app
		//   "immediate_failed" - Could not automatically log in the user
		console.log('Sign-in state: ' + authResult['error']);
	  }
	}
</script>
</dom-module>
